# Annual and Monthly Rainfall Analysis: Dallas Fort Worth (1900-2023)

# STEP 1 : Web Scraping using Pandas and BeautifulSoup

In [40]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# - Source of the dataset: web URL

In [41]:
url = 'https://www.weather.gov/fwd/dmoprecip'

# - Saving the data from the webpage

In [42]:
page = requests.get(url) # request model 
print(type(page)) # to understand the type of the data extracted 
print(page)

<Response [200]>

# - Creating a BeautifulSoup instance for HTML parsing

In [43]:
Soup = BeautifulSoup(page.text, 'html') # BeautifulSoup instance/ object
print(type(Soup))

<class 'bs4.BeautifulSoup'>

In [ ]:
# Printing the content of the BeautifulSoup object (Soup)
print(Soup)

# - Extracting the table with class 'nrml' from the BeautifulSoup object (Soup)

In [ ]:
table = Soup.find_all('table', class_='nrml') # result set 
#print(type(table))
table = table[0]
table = table.find_all('tr')
print(table)

# - Extracting the necessary tags to get the desired column names from the table rows

In [35]:
table_titles = [i.text.strip() for i in table]
#print(type(table_titles))
print(table_titles[0])

Year
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec
Total

In [49]:
# since there are values missing for Dec month and Total Rainfall in 2023 so filling it with "T" (trace amounts)
table_titles[1] += '\nT\nT' 
print(table_titles[1])

2023
1.38
3.97
2.76
3.12
2.35
0.78
0.47
T
0.83
9.63
0.47
T
T

# - Extracting and formatting table column names from the first row of table titles

In [58]:
table_column_names = []

for i in table_titles[0:1]:
    table_column_names.append(i.split('\n'))

print(table_column_names)

[['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Total']]

# - Creating data frame with the column names

In [51]:
df = pd.DataFrame(columns = table_column_names )
df

Empty DataFrame
Columns: [(Year,), (Jan,), (Feb,), (Mar,), (Apr,), (May,), (Jun,), (Jul,), (Aug,), (Sep,), (Oct,), (Nov,), (Dec,), (Total,)]
Index: []

# - Populating the data frame with rainfall data from 1900 to 2023 (present)

In [53]:
row_data = []
for i in table_titles[1:125]:
        row_data.append(i.split('\n'))

for i in range(0,len(row_data)):
        df.loc[i] = row_data[i]

df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2023,1.38,3.97,2.76,3.12,2.35,0.78,0.47,T,0.83,9.63,0.47,T,T
1,2022,0.08,2.03,2.12,2.54,3.00,2.64,T,10.68,0.33,4.43,6.40,2.39,36.64
2,2021,0.85,2.22,3.03,4.50,7.77,2.15,1.50,4.82,0.25,2.96,3.11,0.43,33.59
3,2020,5.00,3.88,6.75,1.90,7.54,5.35,2.31,1.28,3.87,1.74,1.08,3.00,43.70
4,2019,1.58,1.29,2.01,6.75,8.15,4.13,0.78,2.44,T,4.42,1.80,1.17,34.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1904,1.30,1.79,4.01,2.21,3.86,5.42,2.15,3.26,2.63,5.29,0.02,0.36,32.30
120,1903,1.83,5.07,2.03,0.59,1.84,4.84,1.84,1.57,2.70,4.53,0.00,0.30,27.14
121,1902,0.42,0.36,3.80,1.81,4.31,0.58,6.29,T,2.40,1.40,6.89,1.05,29.31
122,1901,0.08,1.59,1.57,2.04,4.50,0.33,1.99,1.29,1.67,1.90,2.10,0.59,19.65
123,1900,0.70,0.12,0.73,7.34,6.58,0.84,5.90,1.43,9.12,3.22,0.56,0.35,36.89

# Exporting Data to CSV for Further Analysis

In [57]:
df.to_csv(r'E:\Sushma Files\POWER BI TRAINING-Nov 23\Alex the analyst DA Bootcamp\WEB SCRAPING PROJECT\DFW_Rainfall_Analysis_1900_2023.csv',index = False)