# Annual and monthly rainfall analysis in DFW 1990-2023

# STEP 1 : Web Scraping

In [212]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [213]:
url = 'https://www.weather.gov/fwd/dmoprecip'

In [230]:
page = requests.get(url) # response model type
#print(type(page))
#print(page)

In [232]:
Soup = BeautifulSoup(page.text, 'html') # BeautifulSoup instance/ object
#print(type(Soup))
#print(Soup)

In [216]:
table = Soup.find_all('table', class_='nrml') # result set 
#print(type(table))
table = table[0]
table = table.find_all('tr')
#print(table)

In [227]:
table_titles = [i.text.strip() for i in table]
#print(type(table_titles))
#print(table_titles[0])

table_titles[1] += '\nT\nT\nT' # since there are values missing for 2 months and Total in 2023 
#print(table_titles[1])

table_column_names = []

for i in table_titles[0:1]:
    table_column_names.append(i.split('\n'))

#print(table_column_names)

In [218]:
df = pd.DataFrame(columns = table_column_names )
df

Empty DataFrame
Columns: [(Year,), (Jan,), (Feb,), (Mar,), (Apr,), (May,), (Jun,), (Jul,), (Aug,), (Sep,), (Oct,), (Nov,), (Dec,), (Total,)]
Index: []

In [220]:
row_data = []
for i in table_titles[1:35]:
        row_data.append(i.split('\n'))

for i in range(0,len(row_data)):
    df.loc[i] = row_data[i]
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,2023,1.38,3.97,2.76,3.12,2.35,0.78,0.47,T,0.83,9.63,T,T,T
1,2022,0.08,2.03,2.12,2.54,3.00,2.64,T,10.68,0.33,4.43,6.40,2.39,36.64
2,2021,0.85,2.22,3.03,4.50,7.77,2.15,1.50,4.82,0.25,2.96,3.11,0.43,33.59
3,2020,5.00,3.88,6.75,1.90,7.54,5.35,2.31,1.28,3.87,1.74,1.08,3.00,43.70
4,2019,1.58,1.29,2.01,6.75,8.15,4.13,0.78,2.44,T,4.42,1.80,1.17,34.52
5,2018,0.85,11.31,2.90,0.77,1.87,1.27,0.25,2.99,12.69,15.66,0.86,4.55,55.97
6,2017,4.39,2.33,1.06,3.38,0.70,8.44,4.12,4.24,0.47,2.12,0.81,4.56,36.62
7,2016,1.04,2.20,2.67,4.60,6.25,3.60,3.89,4.42,0.98,2.01,3.22,0.60,35.48
8,2015,3.62,2.96,2.53,5.56,16.96,3.95,0.92,0.46,2.14,9.82,9.86,3.83,62.61
9,2014,0.33,0.41,1.45,1.74,3.40,3.26,0.98,4.34,0.06,2.09,2.13,1.13,21.32
10,2013,4.06,1.68,2.27,1.98,3.17,2.14,2.05,1.32,2.72,3.13,2.12,2.76,29.40
11,2012,6.18,1.88,5.74,4.24,1.66,2.82,0.78,3.19,1.75,1.02,0.05,1.95,31.26
12,2011,1.60,0.92,0.07,2.46,7.95,2.84,0.09,0.96,0.66,3.12,0.86,4.35,25.88
13,2010,2.76,2.83,3.57,2.03,1.09,2.08,3.13,0.41,9.09,1.16,1.50,2.05,31.70
14,2009,0.82,0.72,5.56,3.54,4.36,3.98,2.09,1.64,6.52,8.05,1.76,1.85,40.89
15,2008,0.27,2.30,6.07,3.85,2.21,0.84,0.81,2.82,0.84,2.29,4.53,0.27,27.10
16,2007,5.58,0.43,3.81,2.82,8.34,11.10,5.54,0.35,4.99,3.53,1.22,2.34,50.05
17,2006,2.25,3.85,4.40,1.86,1.90,0.34,1.78,0.52,2.60,4.34,2.58,3.33,29.75
18,2005,4.33,1.62,2.17,0.56,3.35,1.14,0.74,2.46,1.36,0.89,0.02,0.33,18.97
19,2004,3.04,3.84,1.71,2.96,4.73,10.49,4.16,4.24,1.02,5.72,5.01,0.65,47.57
20,2003,0.22,3.07,0.85,1.90,2.53,5.17,0.08,1.85,3.99,0.78,3.15,0.96,24.55
21,2002,4.90,0.94,7.39,5.68,5.40,3.10,3.07,1.47,1.38,6.44,0.52,4.13,44.42
22,2001,2.44,6.17,5.27,0.89,5.58,1.28,3.85,2.72,3.72,1.87,1.11,3.24,38.14
23,2000,1.59,3.30,2.91,4.28,3.17,5.93,T,0.00,0.17,4.38,6.95,3.57,36.26
24,1999,1.44,0.48,2.84,2.74,6.91,0.99,0.77,T,2.30,2.26,0.31,2.55,23.59
25,1998,5.07,3.22,4.45,1.25,2.38,1.75,0.11,0.35,0.68,5.64,4.91,4.43,34.24
26,1997,0.33,7.40,2.21,6.73,3.92,3.99,1.68,3.13,2.01,5.66,1.01,6.93,45.00
27,1996,0.97,0.35,2.36,2.14,0.95,3.42,3.85,5.02,1.51,6.56,5.54,0.47,33.14
28,1995,2.11,0.44,6.69,6.83,7.50,2.41,3.45,0.86,1.54,0.75,0.74,2.07,35.39
29,1994,1.43,2.01,1.69,3.62,5.80,2.05,4.58,4.89,1.39,8.19,6.03,2.42,44.10
30,1993,1.74,5.78,3.03,3.49,1.75,3.75,0.00,0.75,3.28,5.10,1.62,2.54,32.83
31,1992,3.25,2.40,3.24,2.46,6.93,5.23,2.48,2.08,3.25,3.05,3.56,4.26,42.19
32,1991,2.72,2.60,1.35,3.63,6.97,4.26,3.99,4.30,4.61,9.32,1.04,8.75,53.54
33,1990,4.54,4.72,5.89,6.90,7.16,1.89,2.60,2.37,1.12,2.81,3.81,1.46,45.27

In [ ]:
# Now exporting the data to a csv file in a target location

In [228]:
df.to_csv(r'E:\Sushma Files\POWER BI TRAINING-Nov 23\Alex the analyst DA Bootcamp\WEB SCRAPING PROJECT\DFW_Rainfall_Analysis_1990_2023.csv',index = False)